@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

:root {
  --border-color: #ccc;
  --background-color: white;
  --text-color: black;
  --control-color: #5d6dfc;
  --wall-color: #333;
}

body.dark {
  --border-color: #4b4f52;
  --background-color: #202124;
  --text-color: white;
  --wall-color: #eee;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

nav {
  height: 10%;
  padding: 20px;
  display: flex;
  gap: 20px;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

nav > span {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  left: 20px;
  cursor: default;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 1;
  background-color: var(--control-color);
  flex-wrap: wrap;
}

nav > ul {
  border-radius: 30px;
  color: white;
}

.dropdown-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: max-content;
  height: 50px;
}

.dropdown-toggle:hover {
  background-color: var(--control-color);
  color: white;
  filter: brightness(0.9);
}

.dropdown-box:first-child .dropdown-toggle:hover {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.dropdown-box:last-child .dropdown-toggle:hover {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.dropdown-toggle {
  padding: 0 20px;
  color: inherit;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: 55px;
  width: max-content;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-size: 0.9rem;
  overflow: hidden;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  border: 1px solid var(--border-color);
  display: none;
}

.dropdown-box.opened .dropdown-menu {
  display: flex;
}

.dropdown-menu li {
  border-top: 1px solid var(--border-color);
  padding: 10px 15px;
  cursor: pointer;
}

.dropdown-menu li:first-child {
  border-top: none;
}

.dropdown-menu li:hover {
  background-color: inherit;
  filter: brightness(0.9);
}

.dropdown-toggle span {
  position: relative;
  transform: translateY(-7px);
}

.dropdown-toggle small {
  position: absolute;
  left: 0;
  top: 18px;
  font-weight: normal;
  font-size: 12px;
  color: #ddd;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 0.5rem
}

.info-dropdown {
  border-left: 1px solid #eee;
}

.start-btn {
  border-radius: 50%;
  background-color: #343f9e;
  /* height: 250%; */
  /* height: 130%; */
}

#small-control {
  display: flex;
}

.sm {
  display: none;
}

button {
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

#board {
  background-color: var(--background-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--border-color);
  height: 90%;
}

.row {
  display: flex;
}

.cell {
  border: 1px solid var(--border-color);
  height: 25px;
  width: 25px;
  position: relative;
  cursor: pointer;
}

.user-path {
  border-color: var(--background-color);
}

.visited{
  border-color: var(--background-color);
}

.wall {
  border-color: var(--wall-color);
}

.cell::before {
  font-family: "Font Awesome 5 Free";
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.no-border-radius.cell::before {
  border-radius: 0;
}

.visited.cell::before {
  animation: visit 3s ease forwards;
}

.no-animation .visited.cell:before {
  animation: none;
  border-radius: 0;
  background-color: #67d1e6;
}

.user-path.cell::before {
  content: "";
  animation: none;
  background-color: cornflowerblue;
  border-radius: 0;
  transition-property: background-color border-radius;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.completed-path .user-path.cell::before {
  background-color: mediumseagreen;
}

.head.cell::before {
  content: "\f2bd";
}

.start.cell::before, .start.visited.cell::before {
  content: "\f024";
  animation: none;
  border-radius: 0;
  background-color: royalblue;
  cursor: grab;
}

.target.cell::before {
  content: "\f192";
  border-radius: 0;
  background-color: crimson;
  cursor: grab;
}

.path.visited.cell::before {
  animation: none;
  background-color: tomato;
  border-radius: 0;
  transition-property: background-color border-radius;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.no-animation .path.visited.cell::before {
  animation: none;
  transition: none;
}

.wall.cell::before {
  background-color: var(--wall-color);
  border-radius: 0;
  transition: all 1s cubic-bezier(0.34, 1.56, 0.64, 1);
}

@keyframes visit {
  0%{
    border-radius: 50%;
    background-color: #4a64a4;
    transform: scale(0);
  }
  80% {
    background-color: #6ce4bb;
    transform: scale(105%)
  }
  100% {
    border-radius: 0;
    background-color: #67d1e6;
    transform: scale(100%);
  }
}

@media screen and (max-width: 1200px) and (min-width: 949px) {
  nav > ul {
    margin-left: auto;
  }
}

@media screen and (max-width: 950px) {
  nav > span {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 13px;
  }

  nav {
    height: 25%;
  }

  #board {
    height: 75%;
  }

  nav > ul {
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  .dropdown-box {
    position: static;
  }

  .dropdown-box, .dropdown-toggle {
    width: 100%;
  }
  
  .sm {
    display: flex;
  }

  .lg {
    display: none;
  }
  
  .start-btn {
    border-radius: 0;
  }

  li.dropdown-box:first-child .dropdown-toggle:hover {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0;
  }

  .sm.dropdown-box:first-child .dropdown-toggle:hover {
    border-top-left-radius: 0;
  }

  .sm.dropdown-box:last-child .dropdown-toggle:hover {
    border-top-right-radius: 0;
  }

  .dropdown-menu {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 110%;
    bottom: auto;
  }
  
  .info-dropdown {
    border-left: none;
  }

  #control-panel > ul > li:not(:first-child) {
    border-top: 1px solid var(--border-color);
  }
}