@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

:root {
  --border-color: #ccc;
  --background-color: white;
  --text-color: black;
  --control-color: #5d6dfc;
  --wall-color: #333;
}

body.dark {
  --border-color: #4b4f52;
  --background-color: #202124;
  --text-color: white;
  --wall-color: #eee;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

nav {
  height: 10%;
  padding: 20px;
  display: flex;
  gap: 20px;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

nav > span {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  left: 20px;
  cursor: default;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 1;
  background-color: var(--control-color);
  flex-wrap: wrap;
}

nav > ul {
  border-radius: 30px;
  color: white;
}

.dropdown-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: max-content;
  height: 50px;
}

.dropdown-toggle:hover {
  background-color: var(--control-color);
  color: white;
  filter: brightness(0.9);
}

.dropdown-box:first-child .dropdown-toggle:hover {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.dropdown-box:last-child .dropdown-toggle:hover {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.dropdown-toggle {
  padding: 0 20px;
  color: inherit;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: 55px;
  width: max-content;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-size: 0.9rem;
  overflow: hidden;
  display: none;
}

.dropdown-box.opened .dropdown-menu {
  display: flex;
}

.dropdown-menu li {
  border-top: 1px solid white;
  padding: 10px 15px;
  cursor: pointer;
}

.dropdown-menu li:first-child {
  border-top: none;
}

.dropdown-menu li:hover {
  background-color: inherit;
  filter: brightness(0.9);
}

.dropdown-toggle span {
  position: relative;
  transform: translateY(-7px);
}

.dropdown-toggle small {
  position: absolute;
  left: 0;
  top: 18px;
  font-weight: normal;
  font-size: 12px;
  color: #ddd;
}

#start-btn {
  border-radius: 50%;
  background-color: #343f9e;
  /* height: 250%; */
  /* height: 130%; */
}

button {
  /* min-height: 2rem;
  min-width: 7rem;
  padding: 10px; */
  font-weight: bold;
  /* text-transform: uppercase; */
  /* background-color: #ccc; */
  /* color: #333; */
  border: none;
  /* border-radius: 4px; */
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;

}

#board {
  background-color: var(--background-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--border-color);
  height: 90%;
}

.row {
  display: flex;
}

.cell {
  border: 1px solid var(--border-color);
  height: 25px;
  width: 25px;
  position: relative;
  cursor: pointer;
}

.wall {
  border: 1px solid var(--wall-color);
}

.start {
  background-color: royalblue;
  cursor: grab;
}

.target {
  background-color: crimson;
  cursor: grab;
}

.visited{
  border-color: var(--border-color);
}

.cell::before {
  font-family: "Font Awesome 5 Free";
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start.cell::before {
  content: "\f024";
}

.target.cell::before {
  content: "\f192";
}

.visited.cell::before {
  animation: visit 3s ease forwards;
}

.no-animation .visited.cell:before {
  animation: none;
  border-radius: 0;
  background-color: #67d1e6;
  transform: scale(100%);
}

.start.visited.cell::before {
  animation: none;
  background-color: royalblue;
}

.path.visited.cell::before {
  animation: none;
  background-color: tomato;
  transform: scale(100%);
  border-radius: 0;
  transition-property: background-color border-radius;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.no-animation .path.visited.cell::before {
  animation: none;
  transition: none;
}

.wall.cell::before {
  background-color: var(--wall-color);
  transform: scale(100%);
  border-radius: 0;
  transition: all 1s cubic-bezier(0.34, 1.56, 0.64, 1);
}

@keyframes visit {
  0%{
    border-radius: 50%;
    background-color: #4a64a4;
    transform: scale(0);
  }
  80% {
    background-color: #6ce4bb;
    transform: scale(105%)
  }
  100% {
    border-radius: 0;
    background-color: #67d1e6;
    transform: scale(100%);
  }
}

@media screen and (max-width: 1200px) and (min-width: 899px) {
  nav > ul {
    margin-left: auto;
  }
}

@media screen and (max-width: 900px) {
  nav > span {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 13px;
  }

  .dropdown-toggle {
    padding: 0 15px;
  }

  nav {
    height: 35%;
  }

  #board {
    height: 70%;
  }

  nav > ul {
    flex-direction: column;
    width: 100%;
  }

  .dropdown-box, .dropdown-toggle {
    width: 100%;
  }

  #start-btn {
    border-radius: 0;
  }

  .dropdown-box:first-child .dropdown-toggle:hover {
    border-bottom-left-radius: 0;
    border-top-right-radius: 30px;
  }

  .dropdown-box:last-child .dropdown-toggle:hover {
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0;
  }
}