html {
  box-sizing: border-box;
}

#board {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}

.row {
  display: flex;
}

.cell {
  border: 1px solid #ccc;
  height: 30px;
  width: 30px;
}

.start {
  background-color: royalblue;
}

.start.visited::before {
  animation: none;
}

.target {
  background-color: brown;
}

.path.visited {
  background-color: tomato;
  transition: background-color 0.3s ease;
}

.path.visited::before {
  animation: none;
}

.visited {
  position: relative;
  overflow: hidden;
}

.visited::before {
  content: "";
  position: absolute;
  animation: visit 2s ease forwards;
  border-radius: 50%;
  background-color: cyan;
  width: 30px;
  height: 30px;
  transform: scale(0);
}

@keyframes visit {
  to {
    border-radius: 20%;
    background-color: teal;
    transform: scale(90%);
  }
}